*{
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img
{
  max-width: 100%;
}
body
{ 
  background-color: rgba(14, 14, 15, 0.745);
}  
#layout
{
  width:90%;
  margin: auto;
}

.Grid,.headergrid,.nav, .bannergrid, .welcomegrid,.Foliogrid, .foliocolI,.foliocolII,.foliocolIII,.foliocolIV,.footer,.bloggrid,.aboutgrid,.abtcolgrid,.heartlist,.description, .Photoshootgrid,.grpphotogrid
{
  display:grid;
}

.headergrid, .footer
{                
  grid-template-columns: 30% 70%;
  background-color:white;
  padding:10px 50px 0px 50px;
  justify-content: right;
}
.bannergrid,.Foliogrid,.bloggrid,.footer
{
  padding:20px 50px 20px 50px;
}
.bannerimg
{
  padding: 20px 100px;
  justify-content: center;
}
.welcomegrid
{
  padding: 0px 100px 10px 100px;
}
.nav
{                
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  justify-content:right;
                 
}
.nav >div
{
  padding:20px;
  text-align:center;
  align-items: center;
}
#circle
{
  align-items: center;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 40px;
  background: rgba(255, 68, 0, 0.766);
  color:aliceblue;
  justify-content: center;
}
.bannergrid
{
  background-color: rgba(0, 0, 0, 0.756);
  color: aliceblue;
  row-gap: 30px;
}
.welcomegrid
{
  grid-template-columns: 30% 70%;              
            
}

.welcome
{
  text-align: center; 
  font-size: xx-large;                
}
.welcome::first-letter, span
{
  color:rgba(255, 68, 0, 0.766);
}
#wlcmtxt
{
  border-style: none none none groove;
  border-color:gray ;
  padding-left: 20px;
  font-size: small;
  vertical-align: bottom;
}
.Foliogrid
{
  grid-template-columns: 25% 25% 25% 25%;                
  background-color: black;                
}
.colgrey,#colgrey
{
  color: rgb(164, 155, 155);
}
   
.coltxt
{                
  font-size: x-large;
}
.colprgh
{
  font-size:small;
}
button
{
background-color: rgba(255, 68, 0, 0.766);
color: aliceblue;
height: 40px;
width: 100px;
}
.foliocolI,.foliocolII,.foliocolIII,.foliocolIV
{
row-gap: 20px;
}

.bloggrid
{
grid-template-columns: 50% 50%;
column-gap: 50px;           
}
.aboutgrid
{
row-gap: 10px;
}
.abtcolgrid
{
grid-template-columns: 50% 50%;

}
.description
{
padding-top: 10px;
}

.heartlist
{
grid-template-columns: 50% 50%;
}
.heartlist div
{

color:rgba(255, 68, 0, 0.766);
border-style: groove none none none;             
border-color: gray;
}

ul
{
color:rgba(255, 68, 0, 0.766);    
list-style-type: 'â¥';
}        
ul li
{
padding: 10px;
}
.grpphotogrid
{
grid-template-columns: repeat(4,1fr);
}

.footer >div >i
{
  width: 25px;
  height:25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 15px;
  background: rgba(255, 68, 0, 0.766);
  justify-content: center;
  text-align: center;
  color:aliceblue;
}    
@media only screen and (max-width: 576px)
{
  .headergrid,.welcomegrid,.bloggrid,.abtcolgrid,.footer
  {
      grid-template-columns: repeat(1,1fr);
      text-align: center;
  }
  #wlcmtxt
  {
      border-style: groove none none none ;
      border-color:gray ;
      padding: 20px;
      text-align:left;
  }
  .Foliogrid,.grpphotogrid
  {
      grid-template-columns: repeat(2,1fr);
      text-align: center;
      padding-top: 20px;
  }
  
}